*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
header{
    background: darkgrey;
    color: white;
}
.container{
    padding: 1.6rem 2rem;
}
.flex{
    display: flex;
    flex-wrap: wrap
}
.jc-b{
    justify-content: space-between;
}
.ai-c{
    align-items: center;
}
.gap-10{
    gap: 10px;
}
.cart{
    position: absolute;
    display: none;
    padding: 6px;
    background: gray;
    width: 25%;
    right: 0;
    border: 1px solid white;
}
.cart.active{
    display: block;
}
.cart-icon{
    cursor: pointer;
    position: relative;
}
.cart-icon span{
    position: absolute;
    background: red;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}
.item{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 6px;
}

.item img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}
.item div{
    padding: 3px;
}
.item h2{
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px 0;

}
button{
    padding: 10px;
    margin: 10px 0;
    text-transform: capitalize;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.add-to-cart{
    background: green;
}
.remove-from-cart{
    background: red;
}
.quick-view{
    position: absolute;
    display: none;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgb(209, 203, 203);
    width: 200px;
    height: 300px;
}
.quick-view.open{
    display: block;
}